.stores-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgba(36, 29, 29, 0.8);
}

.stores-bar__text {
  font-size: 1.5rem;
  color: whitesmoke;
  font-weight: 700;
  letter-spacing: 2px;
}

.dropdown-container, .dropdown {
  width: 20vw;
}

@media (max-width: 600px) {
  .stores-bar {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  .dropdown-container, .dropdown {
    /* width: 60vw !important; */
  }

  .stores-bar__text {
    font-size: 0.8rem;
    color: whitesmoke;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
}