.cart-box-container {
  margin-top: 120px;
  width: 25vw;
  /* border: rgb(88, 88, 88) solid 1px; */
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 20px;
  max-height: 700px;
}

.cart-box-container__resume {
  margin-bottom: 5vh;
}

.cart-box-container__resume p {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.cart-box-container__total {
  display: flex;
  justify-content: space-between;
  margin: 3vh 0 1vh 0;
}

.cart-box-container__total p {
  font-size: 2rem;
  font-weight: 700;
}

.cart-box-container__btn {
  display: flex;
  justify-content: center;
}