.cart-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 253, 253);
  border-radius: 4px;
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.5);
  padding: 10px;
  margin: 10px 0;
}

.cart-item-container p{
  margin: 0;
  font-size: 1.5rem;
}

.cart-item-container img {
  width: 50px;
}


@media (max-width: 550px) {

  .delete-btn{
    width: 10vw !important;
  }

  .cart-item-container p{
    margin: 0;
    font-size: 1.2rem;
  }
  
}